* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo_border_circle {
    border-radius: 50px;
}

img {
    border-radius: 10px;
    border-color: black;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
    text-align: center;
}
.imagen_marte1{
    display: flex;
}


.h2_text {
    font-size: 25px;
    
}
/* ####################### */
h1 {
    font-size: 40px;
    text-shadow: 1px 1px 2px #000;
}
.p_text_hero {       
    font-size: 18px;
    text-shadow: 1px 1px 2px #000;
} 

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #fff;
  }

.boton_reserva_viaje {
    margin-top: 20px;
    display: block;
    background-color: aquamarine;
    text-align: center;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  }

.boton_reserva_viaje:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.boton_reserva_viaje:active {
    position:relative;
	top:1px;
}

/* Responsividad */
  @media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

/* Estilos de la cabecera */
header {
    background-color: #545775;
    padding: 15px;
    text-align: center;
}

/* Estilos de los botones de navegación */
.nav_buttons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.nav_buttons li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
    }

    a { 
        text-decoration: none;
        color:#000;
    }
    
    .hero{
        border: solid;
        background: url(https://imagenes.eltiempo.com/files/image_1200_600/uploads/2020/08/03/5f288647c26e9.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
        display: flex;
        align-items: center;
        padding: 25px;
        color: #fff;
    } 

    .info_contenido{
        padding: 25px;
    }